@import './color.scss';

.partners{
    .card{
        background: #d1d9df;
        border-radius: 20px;
        border-color: #a7b4b6;
        padding: 25px 60px;
    }
    h5{
        font-size: 24px;
        color: #1a405f;
        text-align: center;
        font-weight: 400;
    }
    h2{
        font-size: 63px;
        line-height: 52px;
        color: #a9b6b8;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
    }
}